.component-7 .group-4 {
  height: 297px;
  width: 385px;
}

.component-7 .overlap-group-6 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 297px;
  position: relative;
  width: 383px;
}

.component-7 .text-wrapper-10 {
  color: #000000;
  font-family: "Helvetica-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 63px;
  letter-spacing: 0.48px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}

.component-7 .ep-back-5 {
  height: 27px;
  left: 327px;
  position: absolute;
  top: 32px;
  width: 28px;
}

.component-7 .frame {
  background-image: url(../../../static/img/rectangle-41-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 195px;
  left: 43px;
  position: absolute;
  top: 96px;
  width: 314px;
}

.component-7 .group-5 {
  height: 318px;
  left: -3px;
  position: absolute;
  top: -13px;
  width: 399px;
}

.component-7.frame-873 {
  height: 297px;
  width: 383px;
}

.component-7.frame-872 {
  height: 331px;
  position: relative;
  width: 435px;
}
