.component-6 .div-wrapper {
  height: 294px;
  width: 385px;
}

.component-6 .overlap-group-5 {
  background-color: #ffffff;
  border-radius: 5px;
  height: 294px;
  position: relative;
  width: 383px;
}

.component-6 .text-wrapper-9 {
  color: #000000;
  font-family: "Helvetica-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 30px;
  letter-spacing: 0.48px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 31px;
  white-space: nowrap;
  width: 170px;
}

.component-6 .ep-back-4 {
  height: 27px;
  left: 328px;
  position: absolute;
  top: 34px;
  width: 28px;
}

.component-6 .rectangle-4 {
  height: 195px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 96px;
  width: 307px;
}

.component-6 .group-3 {
  height: 327px;
  left: -20px;
  position: absolute;
  top: -18px;
  width: 419px;
}

.component-6.frame-870 {
  height: 331px;
  position: relative;
  width: 435px;
}

.component-6.frame-869 {
  height: 294px;
  width: 383px;
}
