.component-1 {
  height: 641px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.component-1 .group-6 {
  height: 641px;
  position: absolute;
  top: 0;
  width: 1444px;
}

.component-1 .overlap-group-7 {
  background-color: #d9d9d9;
  height: 641px;
  position: relative;
  width: 1440px;
}

.component-1 .text-wrapper-11 {
  color: #333333;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 508px;
  width: 318px;
}

.component-1 .text-wrapper-12 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 415px;
  white-space: nowrap;
  width: 496px;
}

.component-1 .overlap-wrapper {
  height: 641px;
  position: absolute;
  top: 0;
  width: 1444px;
}

.component-1 .group-7 {
  height: 641px;
  position: absolute;
  top: 0;
  width: 1444px;
}

.component-1 .group-8 {
  height: 641px;
  position: absolute;
  top: 0;
  width: 1444px;
}

.component-1 .property-1-2-frame-870 {
  left: -3071px;
}

.component-1 .property-1-2-frame-869 {
  left: -1534px;
}

.component-1 .property-1-2-frame-868 {
  left: 0;
}

.component-1 .property-1-2-frame-871 {
  left: -4611px;
}

.component-1 .property-1-3-frame-870 {
  left: -1534px;
}

.component-1 .property-1-3-frame-869 {
  left: 3px;
}

.component-1 .property-1-3-frame-868 {
  left: 1537px;
}

.component-1 .property-1-3-frame-871 {
  left: -3074px;
}

.component-1 .property-1-4-frame-870 {
  left: 3px;
}

.component-1 .property-1-4-frame-869 {
  left: 1540px;
}

.component-1 .property-1-4-frame-868 {
  left: 3074px;
}

.component-1 .property-1-4-frame-871 {
  left: -1537px;
}

.component-1 .property-1-5-frame-870 {
  left: 1540px;
}

.component-1 .property-1-5-frame-869 {
  left: 3077px;
}

.component-1 .property-1-5-frame-868 {
  left: 4611px;
}

.component-1 .property-1-5-frame-871 {
  left: 0;
}
